
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'lista_servidores' %}">Inicio</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>  
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>  
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>